* {
    margin: 0;
}

h1 {
    color: rgba(39, 39, 39, 1);
    font-weight: 800;
    font-size: 80px;
}

h2 {
    color: rgba(39, 39, 39, 1);
    font-weight: 800;
    font-size: 40px;
    padding-top: 80px;
}

h3 {
    margin: 25px;
    color: rgba(39, 39, 39, 1);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    position: relative;

}

p {
    font-size: 18px;
    color: rgba(39, 39, 39, 0.6);
    padding: 30px 0px;
}

button {
    border: none;
    background-color: rgba(229, 84, 115, 1);
    border-radius: 8px;
    padding: 20px 25px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    /* margin-top: 25px; */
    cursor: pointer;

}

button:hover {
    background-color: white;
    color: rgba(229, 84, 115, 1);
    transition: 0.4s;
}

.banner {
    width: 100%;
    background-color: rgba(229, 84, 115, 0.1);

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: auto;

}

.left {
    width: 50%;
    align-self: center;
}

/* .right {
    display: grid;
    align-items: end;
} */

.right img {
    width: 635px;
    height: 820px;
    display: grid;
    align-items: end;
}



.top {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

}

.top p {
    width: 594px;
    text-align: center;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    padding: 30px;
}

.item_top {
    background-color: rgba(167, 33, 98, 0.15);
    height: 538px;
    width: 464px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    display: grid;
    justify-content: center;
    align-content: end;
}

.item_img {
    display: grid;
    justify-content: center;
}